h3 {
  line-height: 30px;
}

i {
  padding-right: 10px;
}

.logo {
  background-image: app-asset-url("logo-small.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  float: right;
  height: 25px;
  width: 25px;
}

.tticon {

  height:20px;
  width:20px;
  background-image: app-asset-url("info.png");
  opacity:1;
  display:inline;
  background-repeat: no-repeat;
  margin-left: 15px;
  position: relative;
  top: 5px;
}

label {
  display: inline;
}


/*Changed glyphicons source to be white*/
[class^="icon-"],[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image:url(http://www.phpclasses.org/browse/view/image/file/56317/name/glyphicons-halflings-white.png);
    vertical-align: text-top;
    background-repeat: no-repeat;
}


#helptext{
  position:relative;
  top:20px;
}

.helpText {
  font-size: .9em;
}

#Confirmation2 p{
  min-height:40px;
}

#app_container {
  height: 175px;
}


h3 {
  line-height: 30px;
}


li + li {
  margin-top: 0.4em;
}




.recurly_link {
  background-image: url('https://cdn.optimizely.com/img/a/33f48c812ed445b5bfd6bd8548c8ff92.png');
}

.optimizely_link {
  background-image: url('https://cdn.optimizely.com/img/a/26f6acfc5c374b54897dc8bced0d6d15.png');
}

.appengine_link {
  background-image: url('https://cdn.optimizely.com/img/a/3476c67959ae410ca66595d7e0dff06f.png');
}

.random_link {
  background-image: url('https://cdn.optimizely.com/img/a/b74363bda8644e6da0ec424220d9806c.jpg')
}


a.optimizely_link, a.recurly_link, a.appengine_link, a.random_link {
  background-repeat: no-repeat;
  padding-left: 25px;
  background-size: 20px 20px;
}

#button_container {
  padding-bottom: 10px;
}

/*#chatter_button, #open-close, #account_lookup_links, #knowledge_dump, #jira_dashboard, #kb_links, #feedback_link, #account_notes {
  width:90%;
  display: block;
  background: linear-gradient(#326bac,#1c5ba3); 
  border: 2px none;
  color: white;
  margin:5px auto 5px auto;
  font-size:1em;
}

#impersonate_button, #impersonate_experiment, #view_results, #view_exports{
  width:40%;
  float:right;
  display: block;
  background: linear-gradient(#326bac,#1c5ba3); 
  color: white;
  margin: 5px;
  font-size:1em;
}*/

/* Important class to overwrite black buttons */

.btn-blue {
  width:90% !important;
  display: block !important;
  background: linear-gradient(#326bac,#1c5ba3) !important; 
  border: 2px none !important;
  color: white !important;
  margin:5px auto 5px auto !important;
  font-size:1em !important;
}

.btn-small{
  width:40% !important;
  float:right !important;
  display: block !important;
  background: linear-gradient(#326bac,#1c5ba3) !important; 
  border: 2px none !important;
  color: white !important;
  margin: 5px !important;
  font-size:1em !important;
}

.btn-add{
  width: 20%;
  float:right !important;
  display: block !important;
  background: linear-gradient(#326bac,#1c5ba3) !important; 
  border: 2px none !important;
  color: white !important;
  margin: 5px !important;
  font-size:1em !important;
}


.btn-blue:hover, .btn-small:hover {
  background: linear-gradient(#5898e2,#468ddf) !important;
}


#btnSendMobile, #btnSentVia {
  width: 90%;
  display: block;
  margin:0 auto 10px auto;
  font-size:1em;
}

#form_options {
  
}

.recipientWrapper {
  width: 97%;
  margin:0 auto 10px;
}


.accountLinkHeader {
  display: block;
  width:90%;
  margin:0 auto;
}

.kbLinkHeader {
  display: block;
  width:90%;
  margin:0 auto;
}

#linkWrapper {
  width: 90%;
  margin: 10px auto 10px auto;
  text-align: center;
}

#articleWrapper {
  width: 97%;
  text-align: left;
  padding-bottom: 5px;
}


.modal {
  width: 700px;
}

.links {
  text-align: left;
  margin-left: 80px;
  padding-bottom: 5px;
}

/*Syles for account notes*/
.notes-input{
  width:65%;
  margin-left:20px;
}

.subscription{
    float:left;
    margin-right:10px;
    margin-left:20px;
    margin-top:5px;
    margin-bottom:10px;
}

.contact{
    float:left;
    margin-top:5px;
    margin-bottom:10px;
}
 
#subscription_notes, #contact_notes{
    clear:both;
}

.selected{
    font-weight:bold;
}

.hide {
    display:none;
    visibility:hidden;
}

td {
    width:45%;
    padding-bottom:8px;
}

td.title {
/*    padding-left:20px;*/
    font-weight: bold;
}

.notes_container {
    padding:20px;
}

#sfdcLinks p{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-size:8pt;
}

#sfdcLinks {
    background-color:#f2f2f2;
    padding-top:5px;
    padding-bottom:5px;
}

/*End styles for account notes*/

footer {
  border-left:none !important;
  border-top: 1px dotted #CCC;
  padding-top: 15px;
}

.right {
  float:right;
}

.left {
  float:left;
}

#newRecipient {
  width:70%;
}

#saveSentVia {
  width:21%;
  margin:5px auto;
}

#myModalLabel{
  color: #146eaa;
}

header h3 {
  color:#146eaa;
}

.leadr {
  width: 90px;
  color: #146eaa; 
  padding-left: 30px;
  padding-right:10px ;
  display:inline;
}

.row {
  display:inline;
}

.Red {
  color:red;
  font-weight:bolder;
}

.Orange{
  color:orange;
  font-weight:bolder;
}

.Green {
  color:green;
  font-weight:bolder;
}

.sfdcfooter .show {
  display:inline !important;
}

.leadoptions {
  padding-left:30px;
  padding-top:20px;
  padding-bottom:20px;

}
#cancelSDR{
  margin-right:5px;
  width:40px;
}
#cancelSDR.show {
  display:inline;
}

.hidden {
  display:none;
}

.shown {
  display:inline;
}

.modal {
  width: 800px;
}

#postchatter, #closetext {
  color:#90b71c;
}



